.about {
  position: relative;
  // background-image: url(../../assets/img/dungeon.jpg);
  // background-size: cover;
  // background-position: center;
  min-height: 100vh;
  color: $gold;
  text-shadow: 0 0 15px $textShadow;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.8);
    letter-spacing: calc(var(--index) / 7.5);
    text-align: center;
    transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    will-change: transform;
    transition: $transition;
  }

  &__description {
    text-align: center;
    max-width: calc(var(--index) * 30);
    font-size: calc(var(--index) * 0.9);
    margin-top: calc(var(--index) / 1.25);
    transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    will-change: transform;
    transition: $transition;
    // max-width: 300px;
  }

  &__copy {
    position: absolute;
    bottom: calc(var(--index) * 2.5);
    opacity: 0.45;
    font-size: calc(var(--index) * 0.75);
    left: 50%;
    translate: -50%;
  }
}
