.about {
  margin: 0 auto;
  max-width: 1600px;
  padding: 70px 20px;
  position: relative;
  min-height: 100vh;

  display: flex;
  // justify-content: center;
  // align-items: center;

  &__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: calc($index * 1.8);
    line-height: calc($index * 2.3);
    letter-spacing: calc(var(--index) / 5);
    text-shadow: 0 0 12px $textShadow;
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
