.footer {
  margin: 0 auto;
  max-width: 2180px;
  padding: 70px 6vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media screen and (max-width: 1023px) {
    flex-direction: column;
  }

  @media screen and (max-width: 576px) {
    padding: 50px 10px;
  }

  &__title {
    @include textOptions(400, 0.9, 1.2, 30);

    @media screen and (max-width: 1023px) {
      @include textOptions(400, 1.3, 1.7, 30);
    }
  }

  &__info {
    @include textOptions(400, 0.9, 1.2, 30);
    color: $lightBlue;

    @media screen and (max-width: 1023px) {
      @include textOptions(400, 1.3, 1.7, 30);
    }
  }
}
