.header {
  position: relative;

  &__layers {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  &__title-container {
    z-index: 4;
    // padding: 0 20px;
    padding: 0 6vw;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    will-change: transform;
    text-transform: uppercase;
    transition: $transition;

    @media screen and (max-width: 576px) {
      padding: 0 10px;
    }
  }

  &__subtitle {
    @include textOptions(500, 2, 2.5, 5);
    // text-shadow: 0 0 12px $textShadow;
    @media screen and (max-width: 1023px) {
      @include textOptions(500, 2.4, 2.9, 5);
      // @include textOptionsMobile(500, 28px, 34px, 2px);
    }
  }

  &__title {
    @include textOptions(500, 2, 2.5, 5);
    // text-shadow: 0 0 12px $textShadow;
    @media screen and (max-width: 1023px) {
      @include textOptions(500, 2.4, 2.9, 5);
      // @include textOptionsMobile(500, 28px, 34px, 2px);
    }
  }

  &__layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    transition: $transition;
  }

  &__layer-base {
    background-image: url(../../assets/img/layer-base.svg);
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
  }

  &__layer-middle {
    background-image: url(../../assets/img/layer-middle.svg);
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
    z-index: 3;
  }

  &__layer-front {
    background-image: url(../../assets/img/layer-front.svg);
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
    z-index: 5;
  }
}

.header::after {
  content: '';
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 10px;
  background-color: $black;
  box-shadow: 0px 0px 10px 10px $black;
}
