.work {
  margin: 0 auto;
  max-width: 1720px;
  padding: 70px 40px;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-transform: uppercase;
    @include textOptions(500, 1.6, 2.1, 6);
    text-shadow: 0 0 12px $textShadow;
    margin-bottom: calc($index * 1.2);
  }

  &__list {
    width: 100%;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  &__card {
  }

  &__card-title {
    @include textOptions(400, 1.05, 2.5, 12);
  }

  &__card-img-container {
    display: flex;
    aspect-ratio: 1/0.8;
    overflow: hidden;
    &:hover .work__card-img {
      scale: 1.05;
    }
  }

  &__card-img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    transition: scale 0.3s linear;
  }

  &__card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link-container {
    display: flex;
    gap: 10px;
  }

  &__card-link {
    display: block;
    background-color: $darkBlue;
    @include textOptions(400, 1, 1.3, 12);
    border-radius: 7px;
    padding: 3px;
    color: $white;
    transition: background-color 0.3s linear;

    &:hover {
      background-color: $lightBlue;
    }
  }
}
