@import './variables';
@import './mixins';

@import './libs/normalize';
@import '../fonts/inter.css';

@import './components/all';

body {
  background-color: $black;
  color: $white;
  line-height: 1.55;
  font-family: 'Inter', Arial, sans-serif;
}

.content {
  will-change: transform;
}
